.idea/
!.idea/php.xml
!.idea/codeStyleSettings.xml
.DS_Store
.vscode/*
api/.idea/*
!api/.idea/php.xml
!api/.idea/codeStyleSettings.xml
api/Toolsense.mwb.bak
api/Toolsense.mwb
api/somesqlstatments.sql
api/public/imgs/*/*/*
uizwei
!api/public/imgs/*/default/*
*/cordova/*

api/.phalcon/aws-cred-sec
api/.phalcon/aws-cred-key
start.ps1

/ui/package-lock.json
